#root {
    text-align: center;
    justify-items: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 2500px;
}

main section:nth-of-type(odd) {
    background-color: var(--color-background);
}

section {
    width: 100dvw;
    padding: 10dvh 4dvh 10dvh 4dvh
}

hr {
    background-color: white;
}
