@import "tailwindcss";

#root {
    text-align: center;
    justify-items: center;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(odd) {
    @apply backdrop-blur-md
}

section {
    width: 100%;
    padding: 10dvh 4dvh 10dvh 4dvh
}

hr {
    width: 100%;
    background-color: white;
}
